---
import MemoryGraph from "../components/react/MemoryGraph";
import Header from "../components/react/Header"
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/react/Sidebar"
---

<Layout class="app-container">
	<Header client:only="react"/>
	<div class="main">
		<Sidebar client:only="react" />
		<MemoryGraph client:only="react" />
	</div>
</Layout>
